body {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  padding: 2rem 6rem;
}

h2 {
  color: darkgreen;
  text-align: center;
}

.secret {
  display: none;
}

.btn {
  width: 15rem;
  height: 3rem;
  margin: 0.5rem;
  font-size: 1.1rem;
  background-color: deepskyblue;
  color: white;
  border: none;
  border-radius: 3rem;
  outline: 0;
  text-transform: uppercase;
  transition: ease-out 0.1s;
}

.btn:hover {
  background-color: darkblue;
}

.btn:active {
  transform: scale(0.95);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
